body{
    margin-top: 0;
    background-image: url(../images/Ellipse\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    background-color: #E5E5E5;
}
.navbar-nav{
    margin-left: 500px;
}
.header-text{
    width: 50vw;
    height: 50vh;
    margin-top: 100px;
    padding: 20px;
}
.first-header{
    color: #F98D49;
}
.sub-header,.description-text{
    color: #333333;
}
.description-text{
    width: 500px;
    height: 200px;
    line-height: 2.5;
    letter-spacing: 2px;
}
button{
    box-shadow: none;
}
.call-to-action{
    background-color: #F98D49;
    color: #fff;
    margin-top: 50px;
    border-radius: 50px;
    border-color:#F98D49; 
}
@media screen and (max-width: 985px) {
    body {
      background-color: rgb(10, 158, 208);
    }
    .navbar-nav{
        margin-left: 0;
    }
    .navbar-toggler{
        margin-right: 50px;
    }
    /* .navbar-toggler-icon{
        margin-left: 0;
    } */
    .description-text{
        width: 250px;
        line-height: 1.5;
        letter-spacing: 1px;
    }
  }