body{
    margin-top: 0;
    background-image: url(../images/Ellipse\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    background-color: #E5E5E5;
}
.navbar-nav{
    margin-left: 500px;
}
.header-text{
    width: 50vw;
    height: 50vh;
    margin-top: 100px;
    padding: 20px;
}
.first-header{
    color: #F98D49;
}
.sub-header,.description-text{
    color: #333333;
}
.description-text{
    width: 500px;
    height: 200px;
    line-height: 2.5;
    letter-spacing: 2px;
}
button{
    box-shadow: none;
}
.call-to-action{
    background-color: #F98D49;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 50px;
    border-color:#F98D49; 
}
.image{
    height: 200px;
    position: absolute;
    top: 300px;
    right: 350px;
}
.order-now{
    height: 100vh;
    color: #F98D49;
}
.pizza-image{
    margin-top: 50px;
    height: 150px;
}
.pizza-text > h3{
    color: #F98D49;
    margin-top: 25px;
}
#size{
    width: 150px;
    color: #b34e0f;
}
@media screen and (max-width: 985px) {
    body {
      background-color: rgb(10, 158, 208);
    }
    .navbar-nav{
        margin-left: 0;
    }
    .navbar-toggler{
        margin-right: 5px;
    }
    .header-text{
        height: 80vh;
        width: 70vw;
        /* border: 2px solid red; */
        margin-bottom: 100px;
    }
    .description-text{
        width: 200px;
        line-height: 1.5;
        letter-spacing: 1px;
    }
    .image{
        margin-top: 125px;
        height: 100px;
        position: absolute;
        top: 550px;
        right: 250px;
    }
    .call-to-action{
        margin-bottom: 50px;
        margin-left: 15px;
    }
  }